.stats {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 1.5rem;
  background-color: $white;
  padding: 1.5rem 2rem;
  width: 52%;

  &__item {
    width: 7rem;

    &:last-of-type {
      width: 9rem;
    }
  }

  &__number {
    font-size: 2.5rem;
    font-family: $font-mono;
  }

  &__text {
    font-family: $font-roboto;
  }
}

@media screen and (width <= 1000px) {
  .stats {
    width: 100%;
    justify-content: space-around;
  }
}