@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:wght@300&display=swap');

body {
  color: $black;
}

.top__section {

  .text {
    width: min-content;
    margin-inline: auto;

    &__title {
      font-family: $font-mono;
      font-size: 4.375rem;
      margin-bottom: 1rem;
    }
    
    &__subtitle {
      font-family: $font-roboto;
      font-size: 1.5rem;
    }
  }
}

.description {

  &__title {
    font-family: $font-mono;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  &__paragraph {
    font-family: $font-roboto
  }
}