// font stack
$font-mono: "PT Mono", monospace;
$font-roboto: "Roboto", sans-serif;

//colors
$white: #FFF;
$light-gray: #EEEDED;
$medium-gray: #989797;
$yellow: #eacb31;
$light-yellow: #f2e16a;
$pastel-yellow: #f5e7a1;
$orange: #e4572e;
$light-orange: #e87554;
$pastel-orange: #f2b2a0;
$green: #4ca866;
$light-green: #9dcfab;
$pastel-green: #bddfc7;
$blue: #3c91e6;
$light-blue: #5fa5ea;
$pastel-blue: #82b9ef;
$black: #000000;
$medium-black: #454545;
$silver: #a2a2a2;


