@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

body {
  color: #000000;
  font-family: "PT Mono", monospace;
}

h1, .f1 {
  font-size: 70px;
  margin-bottom: 1rem;
}

h2, .f2 {
  font-size: 40px;
}

h3, .f3 {
  font-size: 30px;
  margin-bottom: 1rem;
}

h4, .f4 {
  font-size: 18px;
}

p, .fp {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

@media screen and (width < 1000px) {
  h1, .f1 {
    font-size: 50px;
  }
  h3, .f3 {
    font-size: 18px;
  }
}
.section {
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
}
.section .img {
  width: 100%;
  min-height: 100%;
}
.section__left {
  width: 70%;
  position: relative;
}
.section__left--top {
  min-height: 50vh;
}
.section__left--bottom {
  min-height: 35vh;
  display: flex;
}
.section__left--bottom .text-block {
  width: 50%;
}
.section__left--bottom .blue-block {
  position: relative;
  width: 50%;
  height: 85%;
  background-color: #3c91e6;
}
.section__left--bottom .blue-block .map {
  position: absolute;
  top: 2rem;
  left: -1rem;
}
.section__left--bottom .blue-block .coffee {
  position: absolute;
  top: 0;
  z-index: 1;
  right: -2rem;
}
.section__right {
  width: 30%;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.box {
  width: 8.2rem;
  height: 8.2rem;
}
.box--orange {
  background-color: #e4572e;
  z-index: 1;
  display: grid;
  place-content: center;
  position: absolute;
  bottom: 1.5rem;
  left: -1rem;
}
.box--yellow {
  background-color: #eacb31;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn--primary {
  background-color: #FFF;
  color: #a2a2a2;
  border: 1px solid #a2a2a2;
  padding: 0.5rem;
  min-width: 9rem;
  font-family: "PT Mono", monospace;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  margin-right: 1rem;
}
.btn--primary:hover {
  background-color: #FFF;
  color: #000000;
  border: 1px solid #000000;
  padding: 0.5rem;
  min-width: 9rem;
  font-family: "PT Mono", monospace;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.btn--secondary {
  background-color: #4ca866;
  color: #FFF;
  border: none;
  padding: 0.5rem;
  min-width: 9rem;
  font-family: "PT Mono", monospace;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.btn--secondary:hover {
  background-color: #9dcfab;
  color: #000000;
  border: none;
  padding: 0.5rem;
  min-width: 9rem;
  font-family: "PT Mono", monospace;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.coffee {
  background-image: url("../images/img-3.png");
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 15%;
}

.link {
  font-family: "PT Mono", monospace;
  color: #a2a2a2;
  text-decoration: none;
}
.link:hover {
  color: #000000;
  transition: all ease-in-out 0.2s;
}

.map {
  background-image: url("../images/img-4.png");
  background-size: cover;
  height: 90%;
  width: 90%;
}

.nav__logo {
  width: 2rem;
  margin-right: 1rem;
}
.nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.stats {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  background-color: #FFF;
  padding: 1.5rem 2rem;
  width: 50%;
}
.stats__item {
  width: 7rem;
}
.stats__item:last-of-type {
  width: 9rem;
}

@media screen and (width <= 1000px) {
  .stats {
    width: 100%;
    justify-content: space-around;
  }
}
.text-block {
  padding: 2rem;
  width: -moz-min-content;
  width: min-content;
  margin-inline: auto;
}/*# sourceMappingURL=main.css.map */